* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Roboto Slab', serif;
}

hr {
  margin-top: 20px;
  border: 0;
  border-top: 1px solid #d1d3d4;
}

li {
  list-style-type: none;
  position: relative;
  margin-top: 10px;
}

button {
  border: none;
  outline: none;
}

.user-form {
  background-color: #E5F3F2;
  width: 100vw;
  height: 40vh;
}

.form-container {
  width: 60vw;
  display: block;
  margin: auto;
}

.header-container {
  display: block;
  text-align: center;
}

.title-1,
.title-2 {
  font-size: 4rem;
  margin-bottom: 15px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: -.1rem;
}

.title-1 {
  color: #00A79D;
}

.title-2 {
  color: #6D6E71;
}

.title-input,
.body-input {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  font-size: 1.8rem;
  padding: 5px;
  outline: none;
  border: 1px solid #e0e1e1;
}

.save-button {
  color: #FFFFFF;
  background-color: #00A79D;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:hover:disabled {
  background-color: #00A79D;
}

.search-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-input {
  width: 60vw;
  margin-top: 30px;
  height: 40px;
  font-size: 1.5rem;
  padding: 5px;
  border: 1px solid #e0e1e1;
}

.show-button {
  background-color: #6D6E71;
  height: 40px;
  width: 60vw;
  color: white;
  font-size: 1.3rem;
  margin: 20px 0;

}
.card-container {
  width: 60vw;
  margin: auto;
}

/==========================================
          Javascript
===========================================/

.ideabox__li-title {
  color: #6D6E71;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

.delete-button {
  background-image: url(images/delete.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.ideabox__complete-button {
  background-color: #00A79D;
  height: 28px;
  width: 111px;
  color: #fff;
  float: right;
  margin-right: 5px;
  font-size: 14px;
}

.mark-completed {
  opacity: .3;
}

.delete-button:hover {
  background-image: url(images/delete-hover.svg);
}

.ideabox__li-body {
  color: #939598;
  margin: 10px 0;
}

.upvote {
  background-image: url(images/upvote.svg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.upvote:hover {
  background-image: url(images/upvote-hover.svg);
}

.downvote {
  background-image: url(images/downvote.svg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.downvote:hover {
  background-image: url(images/downvote-hover.svg);
}

.ideabox__li-quality {
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
}

@media only screen and (max-width: 900px) {

  .ideabox__container {
    width: 65vw;
    font-size: 1em;
  }

  .user-form__container {
    width: 65vw;
  }
}

@media only screen and (max-width: 600px) {

  .ideabox__container {
    width: 90vw;
    font-size: 1em;
  }

  .user-form {
    height: 40%;
  }

  .user-form__container {
    width: 90vw;
  }

  .user-form__title {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .user-form__input {
    width: 100%;
    height: 35px;
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 1rem;
    padding: 5px;
    outline: none;
  }

  .user-form__input::placeholder {
    font-size: 1rem;
    color: #c2c3c5;
  }

  .user-form__input-body {
    height: 70px;
    margin-bottom: 15px;
  }

  .ideabox__input-search {
    height: 35px;
    font-size: 1rem;
  }

  .user-form__button-save {
    font-size: 1rem;
  }

  .ideabox__input-search::placeholder {
    font-size: 1rem;
  }
}
